# EditorConfig 帮助开发者在不同的编辑器和 IDE 之间保持一致的编码风格
# 更多信息请访问 http://EditorConfig.org

# 顶级 EditorConfig 配置
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{package.json,*.yml,*.yaml}]
indent_style = space
indent_size = 2